.insert-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insert-list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;

    user-select: none; /* 텍스트 선택 방지 */
    -webkit-user-select: none; /* Safari에서 드래그 방지 */
    -moz-user-select: none; /* Firefox에서 드래그 방지 */
}

.insert-list-title-text {
    justify-content: center;
    align-items: center;

    margin-right: 33%;
    margin-top: 1px;

    color: var(--grey-grey7, #3C3C3C);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.insert-form-container {
    padding: 15px 30px;
}

.insert-form-container label {
    display: block;
    margin: 10px 0px;

    color: var(--grey-grey7, #3C3C3C);

    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.select-container {
    margin-top: 10px;
}

.insert-form-container input,
.insert-form-container select {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--grey-grey-4, #BABABA);
    background: var(--Backgrounds-Primary, #FFF);

    color: var(--grey-grey7, #3C3C3C);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.insert-form-container input::placeholder {
    color: var(--grey-grey-5, #9E9E9E);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.insert-form-container input:focus {
    outline: none; /* 기본 아웃라인 제거 */
    border-bottom: 1px solid var(--grey-grey7, #3C3C3C);
}

.insert-form-container select:focus {
    outline: none; /* 기본 아웃라인 제거 */
}

.select-placeholder {
    color: var(--grey-grey-5, #9E9E9E);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.insert-button {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
    background: var(--purple-purple-4-main, #6A39C0);
    /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;

    color: var(--ect-white, var(--Backgrounds-Primary, #FFF));
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 150% */
}

.insert-button:disabled {
    background: var(--purple-purple-9, #DFCDFF);
    cursor: not-allowed;
    /* 비활성화 시 커서 모양 */
}