.modify-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modify-list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
}

.modify-list-title-text {
    margin-right: 33%;
    margin-top: 1px;

    color: var(--grey-grey7, #3C3C3C);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.modify-form-container {
    padding: 15px 30px;
}

.modify-form-container label {
    display: block;
    margin: 10px 0px;

    color: var(--grey-grey7, #3C3C3C);

    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.select-container {
    margin-top: 10px;
}

.modify-form-container input,
.modify-form-container select {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--grey-grey-6, #777);
    background: var(--Backgrounds-Primary, #FFF);

    color: var(--grey-grey7, #3C3C3C);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.modify-form-container input::placeholder {
    color: var(--grey-grey-5, #9E9E9E);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.modify-form-container input:focus {
    outline: none;
    /* 기본 아웃라인 제거 */
    border: 1px solid #CAABFF;
    ;
    /* 보라색 테두리 추가 */
    box-shadow: 0 0 8px #CAABFF;
    ;
    /* 보라색 그림자 효과 추가 */
}

.modify-form-container select:focus {
    outline: none;
    /* 기본 아웃라인 제거 */
}

.select-placeholder {
    color: var(--grey-grey-5, #9E9E9E);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.modify-button-container {
    display: flex;

    gap: 10px;
}

.cancel-modify-button {
    width: 40%;
    background: var(--grey-grey-3, #E2E2E2);
    border-radius: 10px;

    margin-top: 100px;

    color: var(--grey-grey-6, #777);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.modify-button {
    width: 60%;
    padding: 14px 0;
    margin-top: 100px;
    background: var(--purple-purple-4-main, #6A39C0);

    border: none;
    border-radius: 10px;

    color: var(--ect-white, var(--Backgrounds-Primary, #FFF));
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.modify-button:disabled {
    background: var(--purple-purple-9, #DFCDFF);
}