.admin-real-time-seats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: white;
  z-index: 10;

  text-align: center;
}

.refresh-button {
  align-items: center;

  background: none;
  border: none;

  margin-left: 10px;
}

.seat-header-text {
  margin-right: 10px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.seat-header-edit {
  background: #FFF;
  border: none;

  margin-right: 10px;

  color: var(--grey-grey7, #3C3C3C);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 200% */
  letter-spacing: 0.26px;
}

.seats-time-select-container {
  width: 90%;

  border-radius: 10px;
  border: 1px solid var(--grey-grey-3, #E2E2E2);
  background: var(--Backgrounds-Primary, #FFF);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.02);
}


.seats-time-select-container select:focus {
  outline: none;
  border-bottom: 1px solid var(--grey-grey7, #3C3C3C);
}

.session-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: 100%;

  padding: 0px 20px;
  color: var(--grey-grey7, #3C3C3C);

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.seesion-picker-left {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: relative;
}

.calendar-icon {
  width: 15px;
  height: 16px;
}

.session-select {
  appearance: none;
  /* 기본 드롭다운 아이콘 숨기기 (크롬 포함) */
  -webkit-appearance: none;
  /* Safari에서 드롭다운 아이콘 숨기기 */
  -moz-appearance: none;
  /* Firefox에서 드롭다운 아이콘 숨기기 */

  width: 100%;
  align-items: center;

  font-size: 16px;
  padding: 8px;
  border: 0px solid #ccc;
  background: var(--Podo-Ticket-BG, #FFF);
  color: black;

  color: var(--grey-grey7, #3C3C3C);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.seats-button-info-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  padding: 5px 0;

  width: 90%;
  background: #FFF;
  border-radius: 10px 10px 0 0;
  
  border: 1px solid var(--grey-grey-3, #E2E2E2);
  border-bottom: none;
}

.seats-button-info-divider{
  height: 50px;
  border: 0.5px solid lightgray;
}

.seats-button-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  padding: 0 30px;
  padding-top: 16px;
}

.seats-button-info-item p {
  color: var(--grey-grey7, #3C3C3C);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

  margin: 0px;
}

.seats-button-info-item span {
  color: var(--purple-purple-4-main, #6A39C0);
  text-align: center;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: -0.4px;
}

.seats-button-info-icon {
  width: 26px;
  height: 26px;
}

.admin-seat-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* 자식 요소들 사이에 공간을 분배 */

  width: 90%;

  gap: 15px;
  margin-bottom: 0px;
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--grey-grey-3, #E2E2E2);
  border-top: none;
  background: var(--Backgrounds-Primary, #FFF);
  padding: 10px 17px;

  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  color: var(--grey-grey7, #3C3C3C);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.admin-legend {
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.admin-available-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background: var(--grey-grey-3, #E2E2E2);
}

.admin-booked-icon {
  width: 14px;
  height: 14px;
  background-color: gray;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background: var(--grey-grey-6, #777);
  position: relative;
}

.admin-booked-icon::before,
.admin-booked-icon::after {
  content: '';
  /* 비어 있는 내용을 추가 */
  position: absolute;
  top: 50%;
  /* 세로 중앙에 위치 */
  left: 50%;
  /* 가로 중앙에 위치 */
  width: 50px;
  /* X 선의 길이 */
  height: 1px;
  /* 선의 두께 */
  background-color: white;
  /* X의 색상 */
  transform-origin: center;
}

.admin-booked-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
  /* 대각선 첫 번째 */
}

.admin-booked-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  /* 대각선 두 번째 */
}

.admin-legend-rest-seat {
  border-radius: 20px;
  border: 1px solid var(--purple-purple-7, #B489FF);
  background: var(--Podo-Ticket-chip-light-purple02, #F5F4FF);

  margin-left: 75px;
  padding: 2px 10px;

  color: var(--purple-purple-4-main, #6A39C0);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}