.seat-map {
    width: 90%;
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    margin-top: 10px;

    position: relative;
    border-radius: 10px;
    border: 1px solid var(--grey-grey-3, #E2E2E2);
    background: var(--Backgrounds-Primary, #FFF);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.stage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 자식 요소를 절대 위치로 배치할 수 있도록 설정 */

    margin: 0px;

    text-align: center;
}

.stage {
    width: 420px;
    height: 60px;

    margin-top: 20px;
    padding: 0px 20px;

    color: var(--grey-grey-6, #777);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    position: relative;

    transform: translateX(240px);
}

.stage-label {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--grey-grey-6, #777);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

    transform: translateX(225px);
}

.seat-map-customer {
    display: flex;
    align-items: flex-end;

    margin-top: -5px;
}

.seat-row {
    display: flex;
    /* Flexbox 사용 */
    flex-direction: column;
    /* 가로 방향으로 배치 */
    align-items: center;
    padding: 5px;
}

.seat-column {
    display: flex;
    /* Flexbox 사용 */
    flex-direction: row;
    /* 가로 방향으로 배치 */
    align-items: flex-start;
    /* 위쪽 정렬 */
}

.seat {
    width: 32px;
    height: 32px;

    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;

    margin: 2px;
    padding: 0px;

    color: var(--grey-grey-6, #777);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.seat span {
    font-weight: 800;
}

.selected {
    border: 0.5px solid var(--purple-purple-6, #9E67FF);
    background: var(--purple-purple-9, #DFCDFF);
}

.seat.temporary-selected {
    background-color: #6A39C0;
    /* 일시적으로 선택된 좌석 색상 */
}

.booked {
    border-radius: 5px;
    background: var(--grey-grey-6, #777);
    color: var(--grey-grey-4, #BABABA);
    position: relative;
}

.booked::before,
.booked::after {
    content: '';
    /* 비어 있는 내용을 추가 */
    position: absolute;
    top: 50%;
    /* 세로 중앙에 위치 */
    left: 50%;
    /* 가로 중앙에 위치 */
    width: 50px;
    /* X 선의 길이 */
    height: 1px;
    /* 선의 두께 */
    background-color: white;
    /* X의 색상 */
    transform-origin: center;
}

.seat.booked::before {
    transform: translate(-50%, -50%) rotate(45deg);
    /* 대각선 첫 번째 */
}

.seat.booked::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    /* 대각선 두 번째 */
}

.seat-map {
    transition: transform 0.3s ease;
    /* 부드러운 확대 효과 */
    touch-action: pan-x pan-y;
    /* 터치 제스처를 위한 설정 */
}

.seat-map.zoomed {
    transform: scale(1.2);
    /* 기본 확대 비율 */
    z-index: 10;
    /* 다른 요소보다 위에 표시 */
}