/* SeatSelection.css */
.seat-selection-container {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;   
}
  
  .seat-map {
    display: inline-block;
    margin-top: 20px;
  }
  
  .seat-row {
    margin-bottom: 10px;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: #7451f8;
    color: white;
  }
  
  .confirm-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #7451f8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    z-index: 1000; /* Ensure modal is on top */
  }
  
  .modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 13px; /* 텍스트 크기 13px */
    margin-bottom: 20px; /* Space from bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center text */
  }
  
  .selected-seats {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .seat-box {
    background-color: #7451f8;
    color: white;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .warning {
    color: red;
  }
  
  .back-button-seat,
  .ticket-button-seat {
    flex: 1; /* 버튼의 너비를 자동으로 설정 */
    margin: 0 4px; /* 버튼 사이의 간격을 8px로 설정하기 위해 좌우 각각 4px 간격 */
    margin-bottom: 10px;
    padding: 5px 0; /* 버튼의 상하 패딩 */
    width: 40%;
    border: 2px solid #7451f8; /* 보라색 테두리 */
    border-radius: 8px; /* 둥근 테두리 */
    font-size: 13px; /* 텍스트 크기 13px */
    cursor: pointer;
    background-color: #fff; /* 배경색 */
  }
  
  .back-button-seat {
    background-color: white; /* 나가기 버튼 배경: 흰색 */
    color: #7451f8; /* 텍스트 색상: 보라색 */
  }
  
  .ticket-button-seat {
    background-color: #7451f8; /* 티켓 받기 버튼 배경: 보라색 */
    color: white; /* 텍스트 색상: 흰색 */
  }
  
  .error-message {
    color: red; /* 빨간색으로 설정 */
}

.seat.booked {
    background-color: darkgray; /* 진한 회색 */
    color: white; /* 글자 색을 흰색으로 설정 */
    cursor: not-allowed; /* 마우스 커서를 금지 표시로 변경 */
  }
