:root {
  --purple-1: #280c5a;
  --purple-2: #3c187c;
  --purple-3: #52269e;
  --purple-4: #6a39c0;
  --purple-5: #844fe2;
  --purple-6: #9e67ff;
  --purple-7: #b489ff;
  --purple-8: #caabff;
  --purple-9: #dfcdff;

  --grey-1: #fbfbfb;
  --grey-2: #f2f2f2;
  --grey-3: #e2e2e2;
  --grey-4: #bababa;
  --grey-5: #9e9e9e;
  --grey-6: #777777;
  --grey-7: #3c3c3c;

  --lightpurple-1: #dfd9ff;
  --lightpurple-2: #f5f4ff;

  --red-1: #ff1515;
  --red-2: #ff9393;
  --red-3: #fff4f4;

  --background-1: #fbfbfb;
  --background-gradient-1: linear-gradient(
    180deg,
    rgba(166, 161, 207, 0.7) 0%,
    rgba(245, 244, 255, 0.7) 35%,
    rgba(166, 161, 207, 0.7) 100%
  );
  --background-gradation-main: linear-gradient(
    180deg,
    rgba(196, 191, 229, 0.7) 0%,
    rgba(245, 244, 255, 0.7) 49.52%,
    rgba(196, 191, 229, 0.7) 100%
  );
  --ect-white: #fff;
  --ect-black: #000;

  --charcoal-black: #282828;
}
