.Podo-Ticket-Headline-H1 {
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
}

.Podo-Ticket-Headline-H2 {
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.Podo-Ticket-Headline-H3 {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.Podo-Ticket-Headline-H4 {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.Podo-Ticket-Headline-H5 {
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.Podo-Ticket-Headline-H6 {
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.Podo-Ticket-Body-B1 {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Podo-Ticket-Body-B2 {
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.Podo-Ticket-Body-B3 {
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.Podo-Ticket-Body-B4 {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.Podo-Ticket-Body-B5 {
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.Podo-Ticket-Body-B6 {
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.26px;
}

.Podo-Ticket-Body-B7 {
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.Podo-Ticket-Body-B8 {
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}

.Podo-Ticket-Body-B9 {
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.Podo-Ticket-Body-B10 {
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.Podo-Ticket-Body-B11{
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.Podo-Ticket-Body-B12 {
    font-family: Pretendard;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
}