.Podo-Ticket-Headline-H1 {
  font-family: Pretendard;
  font-size: 6.62vw;
  font-style: normal;
  font-weight: 600;
  line-height: 7.89vw;
}

.Podo-Ticket-Headline-H2 {
  font-family: Pretendard;
  font-size: 5.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: 6.62vw;
}

.Podo-Ticket-Headline-H3 {
  font-family: Pretendard;
  font-size: 5.09vw;
  font-style: normal;
  font-weight: 600;
  line-height: 6.11vw;
}

.Podo-Ticket-Headline-H4 {
  font-family: Pretendard;
  font-size: 4.07vw;
  font-style: normal;
  font-weight: 600;
  line-height: 6.62vw;
}

.Podo-Ticket-Headline-H5 {
  font-family: Pretendard;
  font-size: 3.82vw;
  font-style: normal;
  font-weight: 600;
  line-height: 6.62vw;
}

.Podo-Ticket-Headline-H6 {
  font-family: Pretendard;
  font-size: 3.05vw;
  font-style: normal;
  font-weight: 600;
  line-height: 5.09vw;
}

.Podo-Ticket-Body-B1 {
  font-family: Pretendard;
  font-size: 5.09vw;
  font-style: normal;
  font-weight: 400;
  line-height: 6.11vw;
}

.Podo-Ticket-Body-B2 {
  font-family: Pretendard;
  font-size: 4.58vw;
  font-style: normal;
  font-weight: 600;
  line-height: 6.87vw;
}

.Podo-Ticket-Body-B3 {
  font-family: Pretendard;
  font-size: 4.33vw;
  font-style: normal;
  font-weight: 500;
  line-height: 5.09vw;
}

.Podo-Ticket-Body-B4 {
  font-family: Pretendard;
  font-size: 4.07vw;
  font-style: normal;
  font-weight: 500;
  line-height: 6.62vw;
}

.Podo-Ticket-Body-B5 {
  font-family: Pretendard;
  font-size: 3.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7.12vw;
}

.Podo-Ticket-Body-B6 {
  font-family: Pretendard;
  font-size: 3.31vw;
  font-style: normal;
  font-weight: 500;
  line-height: 4.07vw;
  letter-spacing: 0.26px;
}

.Podo-Ticket-Body-B7 {
  font-family: Pretendard;
  font-size: 3.05vw;
  font-style: normal;
  font-weight: 500;
  line-height: 3.56vw;
}

.Podo-Ticket-Body-B8 {
  font-family: Pretendard;
  font-size: 3.05vw;
  font-style: normal;
  font-weight: 300;
  line-height: 3.56vw;
}

.Podo-Ticket-Body-B9 {
  font-family: Pretendard;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 600;
  line-height: 5.09vw;
}

.Podo-Ticket-Body-B10 {
  font-family: Pretendard;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 4.58vw;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.Podo-Ticket-Body-B11 {
  font-family: Pretendard;
  font-size: 2.54vw;
  font-style: normal;
  font-weight: 500;
  line-height: 3.05vw;
}

.Podo-Ticket-Body-B12 {
  font-family: Pretendard;
  font-size: 2.29vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8vw;
}
